.projects {
  display: flex;
  flex-direction: column;
  max-height: 48em;

  .carousel-container {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    height: 40em;

    img {
      max-height: 30em;
    }
  }
}