@import '../../../Variables.scss';

.projects {
  @include content-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1rem;
  width: 100%;

  button {
    font-family: 'GothicB';
    color: $footer-link;
    border: none;
  }
  
  .activeButton {
    color: $red;
  }
  
  button:before {
    content: '  ';
    white-space: pre;
  }
  
  button:after {
    content: '  |';
    color: $footer-link;
    white-space: pre;
    position: relative;
    bottom: 2px;
  }

  button:first-child {
    &:before {
      content: '';
    }
  }

  button:last-child {
    &:after {
      content: '';
    }
  }

  .carousel-container {
    width: 100%;

    .slider {
      max-height: 100%;
    }

    .slide {
      display: flex;
      justify-content: center;

      div {
        max-height: 100%;

        img {
          max-height: 100%;
        }
      }
    }

    .slider-wrapper {
      height: 71rem;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      .slider {
        min-height: 100%;
      }
    }

    .carousel {
      display: flex;
      justify-content: center;
    }

    .carousel img {
      width: auto;
    }

    .carousel .thumb img {
      width: 100%;
    }

    .control-arrow:before {
      background: transparent;
    }
  }

  .category-buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0rem;
    padding: 1rem 0;
    width: 100vw;
    background: $footer-gray;

    button {
      font-size: 1.5rem;
      padding: .5rem;
      background-color: $footer-gray;
    }

    button:hover {
      cursor: pointer;
    }
  }

  .project-buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 4rem;
    padding: 1rem 0;
    width: 100vw;
    background: $footer-gray;

    button {
      padding: .5rem;
      font-size: 1rem;
      background-color: $footer-gray;
    }
 
    button:hover {
      cursor: pointer;
    }
  }
}
