@import '../../../Variables.scss';

.projects {
  @include content-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  button {
    color: $footer-gray;
    font-family: 'GothicB';
    margin: 2rem 0;
    
    .category-selector {
      font-size: 3rem;
    }
    
    .project-selector {
      font-size: 2.5rem;
    }
  }
  
  .activeButton {
    color: $red;
  }
  
  button:before {
    content: '  ';
    font-size: 3rem;
    white-space: pre;
  }
  
  button:after {
    content: '  |';
    font-size: 3rem;
    color: $footer-bar;
    white-space: pre;
    position: relative;
    bottom: 2px;
  }

  button:first-child {
    &:before {
      content: '';
    }
  }

  button:last-child {
    &:after {
      content: '';
    }
  }

  .carousel-container {
    background: pink;
    margin: 0 auto;
    width: 100%;
    // height: auto;
    outline: 2px solid purple;

    img {
      max-height: 30em;
    }
  }


  .category-buttons {
    background: lightgreen;
    display: flex;

    button {
      font-size: 18pt;
    }
  }

  .project-buttons {
    background: lightyellow;
    display: flex;

    button {
      font-size: 18pt;
    }
  }
}
