@import '../../Variables.scss';


:local(.Connect) {
  @include content-size;
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 5rem 12rem;

	.map {
    position: relative;
    
    img.map-image {
      height: 40rem;
    }

		img.map-logo {
			position: absolute;
			z-index: 999;
      left: -4rem;
      top: 7rem;
      height: 25rem;
			opacity: .5;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    
    figure {
      margin: 1em auto;
      
      img.logo {
        max-height: fit-content;
        display: block;
        margin: 0 auto;
      }

      figcaption {
        font-weight: bold;
        color: pink;
      }
    }

    ul.address-list {
      padding-left: 0;
      margin: 1em auto;

      li {
        list-style-type: none;
        padding: .5em 0;
      }
    }

    .address {
      margin: 1em auto;
      text-align: center;

      h2 {
        color: grey;
        font-size: 1em;
      }

      p {
        margin: 0;
      }
    }
  }
}
