@import '../../Variables.scss';


:local(.Connect) {
  @include content-size;
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 5rem 19rem;

	.map {
    position: relative;
    
    img.map-image {
      height: 39.7rem;
    }

		img.map-logo {
			position: absolute;
			z-index: 999;
      left: -4rem;
      top: 7rem;
      height: 25rem;
			opacity: .5;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 4rem;
    
    figure {
      margin: 1rem auto;
      
      img.logo {
        display: block;
        width: 34rem;
      }

      figcaption {
        position: relative;
        left: .5rem;
        font-family: 'GothicBI';
        font-size: 1.3rem;
        color: $red;
      }
    }
    
    ul.address-list {
      margin: 1.2rem auto;
      position: relative;
      left: 3.3rem;

      li {
        font-size: 1.4rem;
        line-height: 1.5rem;
        padding: .5em 0;
      }
    }

    .address {
      margin: 1rem auto;
      text-align: center;

      h2 {
        color: $red;
        font-size: 1.4rem;
        margin-bottom: .4rem;
      }

      p {
        font-size: 1.4rem;
        line-height: 2.1rem;
        margin: 0;
      }
    }
  }
}
