.splash {
    width: 100%;

    figure {
        width: 50%;
        position: relative;
        top: 10rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "h2 img"
        "figcaption img";
        
        h2 {
            color: black;
            font-size: 3rem;
            grid-area: h2;
            font-weight: normal;

            .covalent {
                font-weight: bold;
            }
        }

        img {
            grid-area: img;
            position: relative;
            width: 150%;
            right: 2rem;
        }
    
        figcaption {
            grid-area: figcaption;
           
            .term {
                color: grey;
            }

            .definition {
                color: lightblue;
            }
        }
    }
}