
@import '../Variables.scss';


:local(.AppHeader) {
  background-color: $footer-gray;
  bottom: 10rem;
  position: absolute;
  width: 100%;

  ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2rem;
    position: relative;
    bottom: 3px;
    
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $footer-link;
      text-decoration: none;
    }

    a:first-child li:before {
      content: '';
    }

    a:last-child li:after {
      content: '';
    }

    li {
      font-size: 3rem;
      font-family: 'GothicB';
    }

    li:before {
      content: '  ';
      white-space: pre;
    }

    li:after {
      content: '  |';
      color: $footer-bar;
      white-space: pre;
      position: relative;
      bottom: 2px;
    }

    .nav-logo {
      width: 6rem;
      height: 3rem;
      position: relative;
      top: 6px;
    }

    .story-link {
      color: $green;
    }

    .process-link {
      color: $purple;
    }
    
    .design-link {
      color: $red;
    }
    
    .values-link {
      color: $blue;
    }
    
    .connect-link {
      color: $yellow;
    }
  }
}
