header {
  background-color: rgb(41, 41, 42);
  bottom: 10rem;
  position: absolute;
  width: 99%;

  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 3em;
    
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: rgb(168, 169, 172);
      text-decoration: none;
    }

    a:first-child li:before {
      content: '';
    }

    a:last-child li:after {
      content: '';
    }

    li {
      font-size: 2rem;
    }

    li:before {
      content: '    ';
      white-space: pre;
    }

    li:after {
      content: '    |';
      color: rgb(168, 169, 172);
      white-space: pre;
    }

    .story-link {
      color: rgb(156, 194, 126);
    }

    .process-link {
      color: rgb(159, 173, 205);
    }
    
    .design-link {
      color: rgb(192, 119, 141);
    }
    
    .values-link {
      color: rgb(109, 182, 201);
    }
    
    .connect-link {
      color: rgb(237, 222, 88);
    }
  }
}


