@import '../../Variables.scss';


:local(.design) {
	@include content-size;
	position: relative;
	top: 1rem;
  right: .5rem;

	.right {
		position: absolute;
		top: 6rem;
		right: 5rem;

		p {
			font-size: 1.8rem;
			line-height: 2.6rem;
		}

		p:nth-child(2) {
			margin: 7rem 0;
		}

		.big {
			font-size: 3rem;
			font-family: 'GothicB';
			line-height: 4rem;
		}

		.small {
			font-size: 1.4rem;
			color: $footer-bar;
			line-height: 1rem;
		}
	}

	.purple {
		color: $purple;
	}

	.green {
		color: $green;
	}

	.blue {
		color: $blue;
	}
}
