.design {
    margin: 0 auto;
    max-width: 80%;
    max-height: 48em;
    overflow: hidden;

    img {
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    blockquote {
        margin: 2em auto;
    }

    .right {
        margin-left: 25%;
    }
    
    .buzz-word {
        font-size: 2em;
    }
    
    .green {
        color: rgb(156, 194, 126);
    }
    
    .blue {
        color: rgb(109, 182, 201);
    }
    
    .purple {
        color: rgb(159, 173, 205);
    }
    
    sub {
        margin-left: 2em;
    }
}
