@import '../../Variables.scss';


:local(.Values) {
    @include content-size;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
    p {
        font-size: 2rem;
    }

    sub {
        margin-left: 3rem;
        color: $footer-bar;
    }

    .right {
        align-self: flex-end;
    }

    .collab-sub {
        color: black;
        font-family: 'GothicBI';
    }

    .integrity {
        margin-right: 25%;
    }
    
    .buzz-word {
        font-size: 2em;
    }
    
    .green {
      color: $green;
    }
    
    .blue {
        color: $blue;
    }

    .purple {
        color: $purple;
    }
  
    .yellow {
        color: $yellow;
        text-shadow: 3px 3px $footer-bar;
    }

    .red {
        color: $red;
    }
}
