.values {
    margin: 10em 10em;

    blockquote {
        margin: 2em 0;
    }

    .right {
        margin-left: 25%;
    }
    
    .buzz-word {
        font-size: 2em;
    }
    
    .green {
      color: rgb(156, 194, 126);
    }
    
    .blue {
        color: rgb(109, 182, 201);
    }

    .purple {
        color: rgb(159, 173, 205);
    }
  
    .grey {
        color: rgb(159, 173, 205);
        text-shadow: -2px 2px rgb(237, 222, 88);
    }

    .pink {
        color: rgb(192, 119, 141);
    }

    sub {
        margin-left: 2em;
    }
}
