.values {
    margin: 10em 10em;
    width: 99%;

    blockquote {
        margin: 2em 0;
    }

    .right {
        margin-left: 25%;
    }
    
    .buzz-word {
        font-size: 2em;
    }
    
    .green {
        color: green;
    }
    
    .blue {
        color: blue;
    }
    
    .purple {
        color: purple
    }
    
    .brown {
        color: brown;
    }

    .red {
        color: red;
    }

    sub {
        margin-left: 2em;
    }
}
